img {
	width: 100%;
}
/*-----Container-----*/
.container {
	min-width: 90%;
	margin: 0 auto;
}

/*----flex-----*/
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*----Grid-----*/
.grid {
	display: grid;
	justify-content: center;
	align-content: center;
}

.grid2 {
	display: grid;
	grid-gap: 2rem;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1.5fr 1fr;
}

.grid3 {
	display: grid;
	grid-gap: 2rem;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3,1fr);
}

/*----------button---------*/
.btn {
	font-family: "Rubik";
	font-weight: 600;
	border: none;
	border-radius: 10px;
}

.btn {
	border-radius: 40px;
	padding: 25px;
	background: #fff;
	color: #000;
	
}

.btn:hover {
	background: #E0EFF9;
	color: #9CCDEE;
}

/*------Margin------*/
.m-1 {
	margin: 1.0rem;
}

.m-2 {
	margin: 1.5rem;
}

.m-3 {
	margin: 2.0rem;
}

.m-4 {
	margin: 2.5rem;
}

.m-5 {
	margin: 3.0rem;
}

/*------Margin-top and bottom------*/
.my-1 {
	margin: 1.0rem 0;
}

.my-2 {
	margin: 1.5rem 0;
}

.my-3 {
	margin: 2.0rem 0;
}

.my-4 {
	margin: 2.5rem 0;
}

.my-5 {
	margin: 3.0rem 0;
}

/*------Margin-left and right------*/
.mx-1 {
	margin: 0 1.0rem;
}

.mx-2 {
	margin: 0 1.5rem;
}

.mx-3 {
	margin: 0 2.0rem;
}

.mx-4 {
	margin: 0 2.5rem;
}

.mx-5 {
	margin: 0 3.0rem;
}

/*------Padding------*/
.p-1 {
	padding: 1.0rem;
}

.p-2 {
	padding: 1.5rem;
}

.p-3 {
	padding: 2.0rem;
}

.p-4 {
	padding: 2.5rem;
}

.p-5 {
	padding: 3.0rem;
}

/*------Padding-top and bottom------*/
.py-1 {
	padding: 1.0rem 0;
}

.py-2 {
	padding: 1.5rem 0;
}

.py-3 {
	padding: 2.0rem 0;
}

.py-4 {
	padding: 2.5rem 0;
}

.py-5 {
	padding: 3.0rem 0;
}

/*------Padding-left and right------*/
.px-1 {
	padding: 0 1.0rem;
}

.px-2 {
	padding: 0 1.5rem;
}

.px-3 {
	padding: 0 2.0rem;
}

.px-4 {
	padding: 0 2.5rem;
}

.px-5 {
	padding: 0 3.0rem;
}
/*----Background------*/
.bg-primary {
	background: var(--blue);
	color: #fff;
}

