#limitedOffer {
  position: fixed;
  width: 100%;
  padding: 20px;
  bottom: 0;
  background: #11c727;
  background: #000;
  z-index: 9;
  text-align: center;
}

#limitedOffer .heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin-bottom: 8px;
}

#limitedOffer .hurry {
  margin-bottom: 10px;
  color: #3498db;
}

#limitedOfferCountdown {
  color: #fff;
}
